.outside{
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 5;
  top: 0;
  background-color: rgba(230, 230, 230, 0.7);

  .container {
  width: 500px;
  padding: 10px 20px;
  border: 1px solid #000;
  border-radius: 5px;
  background-color: white;
  margin-top: 50px;
  margin-left: 50%;
  transform: translate(-50%, 0);

  input {
    width: 100%;
    height: 30px;
  }

  textarea{
    resize: none;
    width: 100%;
  }

  .butt {
    width: 100%;
    display: flex;
    margin: 20px 0;
    justify-content: flex-end;

    div {
      padding: 10px 15px;
      border-radius: 5px;
      color: white;
      cursor: pointer;
      &:hover{
        opacity: 0.6;
      }
    }

    .butt_close {
      margin-right: 10px;
      background: grey;
    }

    .butt_right {
      background: green;
    }
  }
}
}

