#div_cenzor {
  font-family: sans-serif;
  margin-top: 50px;
  width: 600px;
  border-radius: 5px;
  margin-left: 50%;
  transform: translate(-50%, 0);
  padding: 20px;
  background-color: rgb(240, 240, 240);
}
