textarea {
  box-sizing: border-box;
  width: 100%;
  resize: none;
  background-color: white;
  margin: 5px 0;
  border-radius: 5px;
  font-family: sans-serif;
  padding: 10px 5px;
  outline: none;
  &:focus {
    border-radius: 2px;
    border: 1px solid rgb(15, 73, 233);
    box-shadow: 0 0 0 3px rgba(15, 73, 233, 0.3);
  }
}
.inputEmpty {
  border: 1px solid red;
  box-shadow: 0 0 0 3px rgba(233, 48, 15, 0.3);
}
