.div_all {
  width: 100%;
  margin-top: 50px;

  .my_form {
    .div_input {
      padding: 30px 0;
      text-align: justify;
      display: flex;
      justify-content: space-between;
    }

    input {
      width: 600px;
      height: 40px;
      border-radius: 5px;
      border: 1px solid rgb(164, 164, 165);
      outline: none;
      padding-left: 10px;

      &:focus {
        border: 1px solid rgb(25, 123, 228);
        box-shadow: 0 0 0 2px rgba(25, 123, 228, 0.3);
      }
    }

    .addTask {
      width: 110px;
      line-height: 40px;
      color: white;
      background-color: green;
      text-align: center;

      &:hover {
        background-color: green;
        color: white;
        animation-name: buttonOpasity;
        animation-timing-function: linear;
        animation-duration: 0.1s;
      }

      &:active {
        animation-name: addTaskShadow;
        animation-timing-function: linear;
        animation-duration: 0.5s;
      }

      @keyframes addTaskShadow {
        0% {
          box-shadow: 0 0 0 4px rgba(9, 175, 36, 0.5);
        }

        100% {
          box-shadow: 0 0 0 0 rgba(9, 175, 36, 0.5);
        }
      }
    }
  }

  .addTask,
  .editTask,
  .deleteTask,
  .saveTask {
    outline: none;
    border-radius: 5px;
    cursor: pointer;
  }

  table {
    border-collapse: collapse;
    min-width: 730px;

    tr {
      border-top: 1px solid rgb(110, 110, 110);
      border-bottom: 1px solid rgb(110, 110, 110);
      height: 50px;

      th,
      td {
        text-align: center;
        padding: 0 5px;
      }
    }

    .td_check{
      position: relative;
    }

    .tr_last {
      height: 70px;
      border: none;
    }

    .editTask,
    .deleteTask,
    .saveTask {
      width: 80px;
      height: 38px;
    }

    .editTask {
      background-color: rgb(233, 140, 19);
      border: 1px solid rgb(233, 140, 19);

      &:hover:not(:disabled) {
        background-color: rgb(199, 118, 12);
        animation-name: buttonOpasity;
        animation-timing-function: linear;
        animation-duration: 0.1s;
      }

      &:active {
        animation-name: editTaskShadow;
        animation-timing-function: linear;
        animation-duration: 0.5s;
      }

      &:disabled {
        background-color: grey;
        border: none;
        color: white;
        opacity: 0.6;
        cursor: auto;
      }
    }

    .deleteTask {
      background-color: rgb(187, 49, 102);
      border: 1px solid rgb(187, 49, 102);
      color: white;

      &:hover:not(:disabled) {
        background-color: rgb(133, 19, 62);
        animation-name: buttonOpasity;
        animation-timing-function: linear;
        animation-duration: 0.1s;
      }

      &:active {
        animation-name: deleteTaskShadow;
        animation-timing-function: linear;
        animation-duration: 0.5s;
      }

      &:disabled {
        background-color: grey;
        border: none;
        opacity: 0.6;
        cursor: auto;
      }
    }

    .saveTask {
      line-height: 38px;
      margin: 0 auto;
      color: white;
      background-color: green;
      text-align: center;
    }

    @keyframes buttonOpasity {
      0% {
        opacity: 0.3;
      }

      100% {
        opacity: 1;
      }
    }

    @keyframes editTaskShadow {
      0% {
        box-shadow: 0 0 0 4px rgba(233, 140, 19, 0.5);
      }

      100% {
        box-shadow: 0 0 0 0 rgba(233, 140, 19, 0.5);
      }
    }

    @keyframes deleteTaskShadow {
      0% {
        box-shadow: 0 0 0 4px rgba(206, 188, 195, 0.5);
      }

      100% {
        box-shadow: 0 0 0 0 rgba(206, 188, 195, 0.5);
      }
    }

    input[type=text] {
      width: 90%;
      height: 40px;
      border-radius: 5px;
      border: 1px solid rgb(164, 164, 165);
      outline: none;
      padding-left: 10px;

      &:focus {
        border: 1px solid rgb(25, 123, 228);
        box-shadow: 0 0 0 2px rgba(25, 123, 228, 0.3);
      }
    }
    input[type=checkbox] {
      opacity: 0;
    }
    input[type=checkbox] + div {
      text-align: center;
      line-height: 15px;
      position: absolute;
      z-index: -5;
      width: 15px;
      height: 15px;
      border-radius: 2px;
      background-color: rgb(210, 210, 210);
      top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    }
  }
}
